<ion-header>
  <!-- Toolbar displaying the page title and logo -->
  <ion-toolbar>
    <!-- Buttons container aligned to the start (left side) of the toolbar -->
    <ion-buttons slot="start">
      <!-- Image acting as a logo for the app -->
      <ion-img
        src="assets/CalTrackLogoFinal.png"
        style="height: 60px; width: auto">
      </ion-img>
    </ion-buttons>
    <!-- Page title, styled with padding to the left -->
    <ion-title style="padding-left: 10px">About</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main content area of the page -->
<ion-content>
  <ion-text color="dark">
    <h1 class="page-title">Learn More About Us</h1>
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col offset-lg="4" size-xs="12" size-sm="4" size-lg="5">
            <ion-item>
              <ion-label>CalCount, what's that?</ion-label>
            </ion-item>
            <!-- Text paragraph providing details about the app -->
            <div>
              <p class="content-text">
                CalCount is a digital tool designed to help individuals track
                their daily dietary intake and count calories...
              </p>
            </div>
          </ion-col>
          <!-- Column for the second topic about future updates -->
          <ion-col offset-lg="4" size-xs="12" size-sm="4" size-lg="5">
            <ion-item>
              <ion-label>How are we gonna upgrade and update in the future?</ion-label>
            </ion-item>
            <div>
              <p class="content-text">
                In the near future, we plan to implement relevant and necessary updates to keep our users engaged and active, for your benefit.
              </p>
            </div>
          </ion-col>
          <!-- Column for the third topic regarding the app's cost -->
          <ion-col offset-lg="4" size-xs="12" size-sm="4" size-lg="5">
            <ion-item>
              <ion-label>Are we free to use?</ion-label>
            </ion-item>
            <div>
              <p class="content-text">
                100%, It's what we pride ourselves on. We want to deliver the best service on the market without a paywall holding people back from their goals.
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-text>
</ion-content>
