<!--tab navigation -->
<ion-tabs>
  <!-- Tab bar positioned at the bottom of the screen -->
  <ion-tab-bar slot="bottom">

    <!-- Tab button for the home page with an icon and label -->
    <ion-tab-button tab="home">
      <ng-icon name="featherHome"></ng-icon> <!-- Icon representing the home tab -->
      Home <!-- Label displayed on the tab -->

    </ion-tab-button>
    <!-- daily intake page -->
    <ion-tab-button tab="daily-intake">
      <ng-icon name="featherZap"></ng-icon> <!-- Icon representing energy or intake -->
      Daily Intake <!-- Label displayed on the tab -->
    </ion-tab-button>

    <!-- logging meals -->
    <ion-tab-button tab="log-meal">
      <ng-icon name="featherClipboard"></ng-icon> <!-- Icon representing logging or recording -->
      Meal Logger <!-- Label displayed on the tab -->
    </ion-tab-button>

    <!--meal plans-->
    <ion-tab-button tab="meal-plans">
      <ng-icon name="featherBook"></ng-icon> <!-- Icon representing meal plans or books -->
      Meal Plans <!-- Label displayed on the tab -->
    </ion-tab-button>
    
    <!--about page -->
    <ion-tab-button tab="about">
      <ng-icon name="featherInfo"></ng-icon> <!-- Icon representing information or about -->
      About <!-- Label displayed on the tab -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
